body{
    margin:30px;
}
.date{
    position:absolute;
}
.degree{
    position:absolute;
    padding-left:280px;
    font-size:80px;
    margin-top:120px;
}
.degree2{
    position:absolute; 
    padding-left:270px;
    margin-top:225px;
    font-size:25px;
}
hr.line{
    border-bottom:1px  black;
    margin-top:370px;
    position:relative;
}
.scale{
    position:absolute;
    padding-left:530px;
    font-size:25px;
    margin-top:100px;
}
.scale2{
    position:absolute;
    padding-left:660px;
    font-size:25px;
    margin-top:100px;
}
.scale3{
    position:absolute;
    padding-left:810px;
    font-size:25px;
    margin-top:100px;
}
/*  *.h1{
    border-left:3px solid black;
    height:100px;
}/*  */
.today{
    position:absolute;
    margin-top:430px;
    border:1px solid black;
    border-radius:20px;
}
.today img{
    height:120px;
}
.today p{
    padding-left:40px;
}
.today2{
    position:absolute;
    margin-top:430px;
    border:1px solid black;
    border-radius:20px;
    margin-left:140px;
}
.today2 img{
    height:120px;
}
.today2 p{
    padding-left:40px;
}
.today3{
    position:absolute;
    margin-top:430px;
    border:1px solid black;
    border-radius:20px;
    margin-left:280px;
}
.today3 img{
    height:120px;
}
.today3 p{
    padding-left:40px;
}
.today4{
    position:absolute;
    margin-top:430px;
    border:1px solid black;
    border-radius:20px;
    margin-left:420px;
}
.today4 img{
    height:120px;
}
.today4 p{
    padding-left:40px;
}
.today5{
    position:absolute;
    margin-top:430px;
    border:1px solid black;
    border-radius:20px;
    margin-left:560px;
}
.today5 img{
    height:120px;
}
.today5 p{
    padding-left:40px;
}
.today6{
    position:absolute;
    margin-top:430px;
    border:1px solid black;
    border-radius:20px;
    margin-left:700px;
}
.today6 img{
    height:120px;
}
.today6 p{
    padding-left:40px;
}
.today7{
    position:absolute;
    margin-top:430px;
    border:1px solid black;
    border-radius:20px;
    margin-left:840px;
}
.today7 img{
    height:120px;
}
.today7 p{
    padding-left:40px;
}
.hello{
    position:absolute;
    height: 300px;
    width: 90%;
    padding-left:20px;   
}

.days{
    position:absolute;
    margin-top:350px;
    font-size:20px;
}
.vl1{
    position:absolute;
    height: 300px;
    width: 50%;
    padding-left:480px;
    margin-top:100px;   
}
.vl{
    border-left:1px solid black;
    height:250px;
    position: relative;
}
.dayss{
    position:absolute;
    margin-top:700px;
    font-size:20px;
}
footer{
    text-align:center;
    padding: 10px;
    color: black;
    width: 100%;
    bottom: 0;
    position:fixed;
}